@model QuanLySuKien.Models.NgheSi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NgheSi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNgheSi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNgheSi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TieuSu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieuSu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
