@model IEnumerable<QuanLySuKien.Models.SuKien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSuKien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiSuKien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayToChuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioToChuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnhBia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaDiem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSuKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiSuKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayToChuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioToChuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnhBia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaDiem.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
